/* Place graph to the right of inputs */
/* 
#graph img { position: absolute; top:0; right: 0; }
*/
/*
.popup a:hover {display: inline; }
.popup a {display: none; }
*/

/* Data table markup */
table.data {
	width:90%;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
		border-collapse:collapse;
	}
table.embed {
	width:100%;
        border:0px;
        margin:0px;
        }
table.data caption {
	color: #9ba9b4;
	font-size:.94em;
		letter-spacing:.1em;
		margin:1em 0 0 0;
		padding:0;
		caption-side:top;
		text-align:center;
	}	
table.data tr.odd td {
	background:#f7fbff
	}
table.data tr.odd .column1 {
	background:#f4f9fe;
	}	
table.data .column1	{
	background:#f9fcfe;
	}
table.data td {
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	text-align:right;
	}				
table.data td.embed {
	padding:0px;
	}
table.data th {
	font-weight:normal;
	color: #678197;
	text-align:left;
	border-bottom: 1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	}							
table.data thead th {
	background:#f4f9fe;
	text-align:center;
	font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#66a3d3
	}	
table.data tfoot th {
	text-align:center;
	background:#f4f9fe;
	}	
table.data tfoot th strong {
	font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	margin:.5em .5em .5em 0;
	color:#66a3d3;
		}		
table.data tfoot th em {
	color:#f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
	}	

